.register,.login,.admin_login {
    height: calc(100vh - 75px);
    width: 100%;
    background-image: url(http://localhost:3000/designImage/image5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        width: 55%;
        min-height: 90%;
        box-shadow: 0px 20px 6px 0px #eee8e8;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        .auth {
            .login-page{
                text-align: center;
                a{
                    color: #404040;
                    
                }
            }
            padding: 20px 30px;
            h3 {
                font-weight: 700;
                color: #404040;
                font-size: 20px;
                text-align: center;
            }
            .or{
                position: relative;
                text-align: center;
                margin: 12px;
                &::after,
                &::before{
                    position: absolute;
                    content: '';
                    width: 45%;
                    height: 1px;
                    background-color: #404040;
                    right: 0;
                    top: 50%;
                }
                &::before{
                    content: '';
                    left: 0;
                }
            }
            .fb-google-auth{
                .fb-google-logo{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    grid-row-gap: 14px;
                    button{
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 400;
                        padding: 0.45rem 0.9rem;
                        border: 1px solid transparent;
                        font-size: .9rem;
                        border-radius: .15rem;
                        transition: all .5s;
                        width: 100%;
                        cursor: pointer;
                        span{
                            margin-left: 3px;
                            letter-spacing: .5px;
                        }
                    }
                    .fb button{
                        background-color: #7443e9;
                        &:hover{
                            background-color: #6d3be0;
                        }
                    }
                    .google button{
                        margin-bottom: 8px;
                        background-color: #f44336;
                        &:hover{
                            background-color: #d14014;
                        }
                    }
                }
            }
        }
        .image-logo {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        form {
            .form-group {
                .icon-input {
                    position: relative;
                    display: flex;
                    align-items: stretch;
                    width: 100%;
                    flex-direction: row;
                    margin-bottom: 0px;
                    .form-control {
                        height: calc(1.5em + 0.9rem + 2px);
                        position: relative;
                        flex: 1 1 auto;
                        display: block;
                        padding: 0.45rem 0.9rem;
                        font-size: 0.9rem;
                        line-height: 1.5;
                        color: #6c757d;
                        background-color: #f1f3fa;
                        background-clip: padding-box;
                        border: 1px solid #f1f3fa;
                        border-radius: 0.25rem;
                        transition: border-color 0.15s ease-in-out;
                        width: auto;
                    }
                    .icon {
                        display: flex;
                        align-items: center;
                        padding: 0.45rem 0.9rem;
                        font-size: 0.9rem;
                        font-weight: 400;
                        line-height: 1.5;
                        text-align: center;
                        white-space: nowrap;
                        border: 1px solid #dee2e6;
                        border-radius: 0.25rem;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        color: #fff;
                        background-color: #727cf5;
                        border-color: #727cf5;
                        cursor: pointer;
                        margin-right: -1px;
                    }
                }
                label {
                    display: block;
                    margin: 8px 0px;
                    font-weight: 600;
                }
                .btn.btn-block {
                    margin-top: 20px;
                    padding: 10px;
                    color: #fff;
                    background-color: #fa5c7c;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 400;
                    cursor: pointer;
                    border: 1px solid transparent;
                    font-size: 0.9rem;
                    border-radius: 0.15rem;
                    transition: all 0.5s;
                    &:hover {
                        background-color: #ec4d6d;
                    }
                }
                .image-file {
                    margin: 18px 0px;
                    display: flex;
                    justify-content: space-between;
                    .image {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        border: 1px solid #c2bfbf;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .file-name {
                        width: calc(100% - 40px);
                        position: relative;
                        display: flex;
                        align-items: stretch;
                        flex-direction: row;
                        margin-bottom: 0px;
                        .form-control {
                            height: calc(1.5em + 0.9rem + 2px);
                            position: relative;
                            flex: 1 1 auto;
                            display: block;
                            padding: 0.45rem 0.9rem;
                            font-size: 0.9rem;
                            line-height: 1.5;
                            color: #6c757d;
                            background-color: #f1f3fa;
                            background-clip: padding-box;
                            border: 1px solid #f1f3fa;
                            border-radius: 0.25rem;
                            transition: border-color 0.15s ease-in-out;
                            width: auto;
                        }
                        label {
                            display: flex;
                            align-items: center;
                            font-size: 0.9rem;
                            padding: 0.45rem 0.9rem;
                            font-weight: 400;
                            line-height: 1.5;
                            text-align: center;
                            white-space: nowrap;
                            border: 1px solid #dee2e6;
                            border-radius: 0.25rem;
                            margin: 0px 0px 0px -3px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            color: #fff;
                            background-color: #727cf5;
                            cursor: pointer;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}
