.dashborad_comments{
    .comments{
        background-color: #fff;
        padding: 15px;
        h3{
            color: #404040;
            font-weight: 600;
            margin-bottom: 25px;
        }
    }
}