.dashborad-navbar {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: #fff;
   // box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.83);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    &-left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 275px;
        background-color: #4b5077;
        transition: all 0.5s;
        grid-gap: 10px;
        a {
            color: #2e2f34;
        }
        label.bar {
            display: none;
        }
        label {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #232f34;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
            }
        }
    }
    &-right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 275px);
        padding: 0px 25px 0px 10px;
        h2 {
            padding-left: 10px;
            display: flex;
            justify-content: center;
            align-content: center;
            a {
                font-weight: 600;
                color: #404040;
                display: flex;
                justify-content: center;
                align-content: center;
            }
        }
        .search {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user {
            display: flex;
            .natification-message {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 25px;
                .message,
                .natification {
                    position: relative;
                    cursor: pointer;
                    span {
                        display: flex;
                        padding: 6px;
                        font-size: 17px;
                        margin: 4px;
                    }
                    .mCount {
                        background-color: #03ce03 !important;
                    }
                    .nCount,
                    .mCount {
                        background-color: red;
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 20px;
                        width: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        border-radius: 50%;
                        font-size: 12px;
                    }
                }
            }
            label {
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    cursor: pointer;
                    border: 1px solid gray;
                }
            }
            .name-time {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                span {
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
    }
}
.natifications.show{
    //transform: scale(1);
}
.message.show{
    //transform: scale(1);
}
.natifications,.messages{
    transform-origin: top;
    transition:  transform .5s ease 0s;
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 250px;
    right: calc(100% - 150px);
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11) ,0 4px 16px 0 rgba(167, 175, 183, 0.83);
    border: 1px solid  rgba(167, 175, 183, 0.83);
    border-radius: 0px;
    transform: scale(0);
    top: 58px;
    ul{
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        li{
            position: relative;
            padding: 3px;
            &:hover{
                .nDelete{
                    transform: scale(1) !important;
                }
            }
            .nDelete{
                position: absolute;
                display: flex;
                width: 22px;
                height: 22px;
                background-color: red;
                border-radius: 50%;
                right: 0;
                top: 0;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 11px;
                transition: all .5s;
                transform: scale(0)
            }
        }
    }
}
