.container {
    width: 90%;
    margin: 0px auto;
    padding: 0px 3rem;
}
.form-group {
    margin: 8px 0px;
}
.form-control {
    padding: 0px 5px;
    width: 100%;
    border: 1px solid var(--border_color);
    outline: none;
    height: 35px;
    font-size: 15px;
    transition: all 0.5s;
    font-weight: 300;
    color: var(--text_color);
    background-color: var(--main_bg);
    &::placeholder {
        font-size: 15px;
        font-weight: 300;
        color: var(--text_color);
    }
    &:focus {
        border: 1px solid rgb(139, 236, 94);
    }
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    font-size: 16px;
    font-weight: 400;
    border: transparent;
    height: 33px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background-color: #191f33;
    }
}
.btn-block {
    width: 100%;
}
.card {
    background-color: var(--main_bg);
    padding: 10px 15px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-column-gap: 4px;
    div {
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 100%;
        display: inline-block;
        animation: loading 1.4s infinite ease-in-out both;
        -webkit-animation: loading 1.4s infinite ease-in-out both;
    }
    .spinner1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .spinner2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    @-webkit-keyframes loading {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
        }
    }
    @keyframes loading {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

.numof-search-newAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #b4ccd8;
    padding: 10px;
    .numof {
        h2 {
            color: #404040;
        }
    }
    .searchOf {
        position: relative;
        width: 50%;
        .search {
            background-color: gray;
        }
        span {
            position: absolute;
            padding: 10px;
            right: 0;
            display: flex;
            top: 0;
            color: #404040;
        }
    }
    .newAdd {
        .btn {
            background-color: #58b15c;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            &:hover {
                background-color: #40a545;
            }
        }
    }
}

.dashborad-article,.all-category,.add-category,.all-sub-admin,.sub_admin_profile,.dashborad_comments{
    margin-left: 275px;
    padding: 85px 12px 12px 12px;
    transition: all 0.5s;
}
.title-show-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a.btn {
        background-color: #58b15c;
        display: flex;
        align-items: center;
        color: #fff;
        transition: all 0.5s;
        &:hover {
            background-color: #39a33e;
        }
    }
}
